.tesla-cars {
    height: 84vh;
    padding-top: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-table {
    position: relative;
    width: 293px;
    height: 435px;
}

.pricing-table:nth-child(even) {
    margin-top: -60px;
}

.pricing-table::before {
   content: "";
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
   height: 100%;
   background-color: #73787d;
   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.75);
   opacity: 0.95;
}

.pricing-table__header {
    width: 100%;
    height: 168px;
    background-color: #656a72;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 21px;
    justify-content: space-between;
}

.model-title {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: -7px;
    margin-top: 0;
}

.separation {
    width: 28px;
    height: 2px;
    background-color: #fff;
    opacity: 0.3;
}

.pricing-table__content {
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 33px;
}

.pricing-table__content__features {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.pricing-table__content__add-info-or-price {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.pricing-table__btn {
    width: 126px;
    height: 36px;
    background-color: #37406c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.pricing-table__btn:hover {
    color: #fff;
    background-color: darken(#37406c, 5%);
}

.pricing-table__btn:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}

/*Category premium style*/

.pricing-table.category-premium {
    .separation {
        background-color: #60697d;
        opacity: 0.1;
    }
    .pricing-table__header {
        background-color: #f8f9f9;
        .model-title {
            color: #60697d;
        }
    }
    .pricing-table__content {
        .pricing-table__content__features {
            color: #60697d;
        }
        .pricing-table__content__add-info-or-price {
            color: #60697d;
        }
        .pricing-table__btn {
            background-color: #ea525c;
        }
        .pricing-table__btn:hover {
            color: #fff;
            background-color: darken(#ea525c, 5%);
        }
    }
}

.pricing-table.category-premium::before {
   content: "";
   display: flex;
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   background-color: #fff;
   box-shadow: 0 15px 30px rgba(216, 220, 224, 0.35);
   opacity: 1;
}

@media only screen and (max-width: 1100px) {
    .tesla-cars {
        justify-content: center;
        align-items: center;
        padding-top: 6vh;
        padding-bottom: 6vh;
        height: 100%;
    }
    .pricing-table:nth-child(even) {
        margin: 0;
    }
    .pricing-table {
        margin: 40px;
    }
}
