@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriad-pro/MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
        url('../fonts/myriad-pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myriad-pro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriad-pro/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/myriad-pro/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/myriad-pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
