@import "_fonts.scss";
@import "partials/_header.scss";
@import "partials/_pricing-table.scss";
@import "partials/_profile.scss";
@import "partials/_footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    font-family: "Myriad Pro", serif;
}

.container {
    width: 81vw;
    margin: 0 auto;
}
